{% extends "core/layout.twig" %}
{% set title = "Sports RU" %}

{% block body %}

<div class="main-b">

  <table class="table-list">
    <thead class="table-list__head">

    </thead>
    <tbody class="table-list__body">

    </tbody>
  </table>

  <p class="annotation"><b>М</b> – матчи, <b>В</b> – выигрыши, <b>Н</b> – ничьи, <b>П</b> – проигрыши, <b>Заб</b> – забитые голы, <b>Проп</b> – пропущенные голы, <b>О</b> – очки в турнире</p>

</div>

{% endblock %}
